## Transformação de Dados

### Carregando itens necessários

**Bibliotecas**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sb
import numpy as np

**Datasets**

In [2]:
ano_2021 = pd.read_csv('../datasets/cleaned/ano_2021.csv', sep=';', on_bad_lines='skip', encoding='latin-1')
ano_2020 = pd.read_csv('../datasets/cleaned/ano_2020.csv', sep=';', on_bad_lines='skip', encoding='latin-1')
ano_2019 = pd.read_csv('../datasets/cleaned/ano_2019.csv', sep=';', on_bad_lines='skip', encoding='latin-1')
ano_2018 = pd.read_csv('../datasets/cleaned/ano_2018.csv', sep=';', on_bad_lines='skip', encoding='latin-1')

In [3]:
datasets = [ano_2021, ano_2020, ano_2019, ano_2018]

In [4]:
for df in datasets:
    df.drop(df.columns[0], axis=1, inplace=True)
    print(df.columns)

Index(['situacao', 'regiao', 'estado', 'subeixo_tec', 'nome_curso',
       'modalidade', 'turno', 'carga_horaria', 'fator_esforco_curso', 'sexo',
       'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso'],
      dtype='object')
Index(['situacao', 'regiao', 'estado', 'subeixo_tec', 'nome_curso',
       'modalidade', 'turno', 'carga_horaria', 'fator_esforco_curso', 'sexo',
       'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso'],
      dtype='object')
Index(['situacao', 'regiao', 'estado', 'subeixo_tec', 'nome_curso',
       'modalidade', 'turno', 'carga_horaria', 'fator_esforco_curso', 'sexo',
       'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso'],
      dtype='object')
Index(['situacao', 'regiao', 'estado', 'subeixo_tec', 'nome_curso',
       'modalidade', 'turno', 'carga_horaria', 'fator_esforco_curso', 'sexo',
       'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso'],
      dtype='object')

In [5]:
encoded = []

In [73]:
df = ano_2020.iloc[:100]
df

,situacao,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,carga_horaria,fator_esforco_curso,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,4475,"1,06",F,NaN,25 a 29 anos,NaN,SUPERIOR
1,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,4475,"1,06",F,NaN,35 a 39 anos,NaN,SUPERIOR
2,Evadidos,Região Centro-Oeste,DF,Informática,Técnico em Informática,Educação Presencial,Integral,3567,"1,25",F,PARDA,20 a 24 anos,NaN,TECNICO_INTEGRADO
3,Em curso,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,3218,"1,1",F,PARDA,25 a 29 anos,"0,5<RFP<=1",SUPERIOR
4,Evadidos,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,3218,"1,1",F,PARDA,35 a 39 anos,"0<RFP<=0,5",SUPERIOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Em curso,Região Norte,AM,Informática,Técnico em Informática,Educação Presencial,Noturno,1200,"1,25",F,PARDA,20 a 24 anos,NaN,TECNICO_SUBSEQUENTE
96,Evadidos,Região Norte,PA,Informática,Técnico em Informática,Educação Presencial,Noturno,1200,"1,25",F,PRETA,25 a 29 anos,NaN,TECNICO_SUBSEQUENTE
97,Concluintes,Região Norte,AP,Informática,Técnico em Informática,Educação Presencial,Vespertino,4275,"1,25",F,NaN,20 a 24 anos,NaN,TECNICO_INTEGRADO
98,Evadidos,Região Sudeste,SP,Informática,Técnico em Informática,Educação Presencial,Integral,3400,"1,25",F,BRANCA,20 a 24 anos,NaN,TECNICO_INTEGRADO
99,Concluintes,Região Sudeste,MG,Informática,Técnico em Informática,Educação Presencial,Integral,4093,"1,25",F,NaN,20 a 24 anos,NaN,TECNICO_INTEGRADO

In [74]:
df['fator_esforco_curso']=df['fator_esforco_curso'].str.replace(',','.')
df

C:\Users\danie\AppData\Local\Temp\ipykernel_18740\1071637197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fator_esforco_curso']=df['fator_esforco_curso'].str.replace(',','.')

,situacao,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,carga_horaria,fator_esforco_curso,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,4475,1.06,F,NaN,25 a 29 anos,NaN,SUPERIOR
1,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,4475,1.06,F,NaN,35 a 39 anos,NaN,SUPERIOR
2,Evadidos,Região Centro-Oeste,DF,Informática,Técnico em Informática,Educação Presencial,Integral,3567,1.25,F,PARDA,20 a 24 anos,NaN,TECNICO_INTEGRADO
3,Em curso,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,3218,1.1,F,PARDA,25 a 29 anos,"0,5<RFP<=1",SUPERIOR
4,Evadidos,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,3218,1.1,F,PARDA,35 a 39 anos,"0<RFP<=0,5",SUPERIOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Em curso,Região Norte,AM,Informática,Técnico em Informática,Educação Presencial,Noturno,1200,1.25,F,PARDA,20 a 24 anos,NaN,TECNICO_SUBSEQUENTE
96,Evadidos,Região Norte,PA,Informática,Técnico em Informática,Educação Presencial,Noturno,1200,1.25,F,PRETA,25 a 29 anos,NaN,TECNICO_SUBSEQUENTE
97,Concluintes,Região Norte,AP,Informática,Técnico em Informática,Educação Presencial,Vespertino,4275,1.25,F,NaN,20 a 24 anos,NaN,TECNICO_INTEGRADO
98,Evadidos,Região Sudeste,SP,Informática,Técnico em Informática,Educação Presencial,Integral,3400,1.25,F,BRANCA,20 a 24 anos,NaN,TECNICO_INTEGRADO
99,Concluintes,Região Sudeste,MG,Informática,Técnico em Informática,Educação Presencial,Integral,4093,1.25,F,NaN,20 a 24 anos,NaN,TECNICO_INTEGRADO

In [75]:
# Coluna alvo
y = df['situacao']
# Variáveis numéricas
X_numerical = df[['carga_horaria', 'fator_esforco_curso']]
# Variáveis categóricas
X_categorical = df[['regiao', 'estado', 'subeixo_tec', 'nome_curso', 'modalidade', 
             'turno', 'sexo', 'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso']]

In [76]:
y

0        Em curso
1        Em curso
2        Evadidos
3        Em curso
4        Evadidos
         ...
95       Em curso
96       Evadidos
97    Concluintes
98       Evadidos
99    Concluintes
Name: situacao, Length: 100, dtype: object

In [77]:
X_numerical

    carga_horaria fator_esforco_curso
0            4475                1.06
1            4475                1.06
2            3567                1.25
3            3218                 1.1
4            3218                 1.1
..            ...                 ...
95           1200                1.25
96           1200                1.25
97           4275                1.25
98           3400                1.25
99           4093                1.25

[100 rows x 2 columns]

In [78]:
X_categorical

,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,F,NaN,25 a 29 anos,NaN,SUPERIOR
1,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,F,NaN,35 a 39 anos,NaN,SUPERIOR
2,Região Centro-Oeste,DF,Informática,Técnico em Informática,Educação Presencial,Integral,F,PARDA,20 a 24 anos,NaN,TECNICO_INTEGRADO
3,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,F,PARDA,25 a 29 anos,"0,5<RFP<=1",SUPERIOR
4,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,F,PARDA,35 a 39 anos,"0<RFP<=0,5",SUPERIOR
...,...,...,...,...,...,...,...,...,...,...,...
95,Região Norte,AM,Informática,Técnico em Informática,Educação Presencial,Noturno,F,PARDA,20 a 24 anos,NaN,TECNICO_SUBSEQUENTE
96,Região Norte,PA,Informática,Técnico em Informática,Educação Presencial,Noturno,F,PRETA,25 a 29 anos,NaN,TECNICO_SUBSEQUENTE
97,Região Norte,AP,Informática,Técnico em Informática,Educação Presencial,Vespertino,F,NaN,20 a 24 anos,NaN,TECNICO_INTEGRADO
98,Região Sudeste,SP,Informática,Técnico em Informática,Educação Presencial,Integral,F,BRANCA,20 a 24 anos,NaN,TECNICO_INTEGRADO
99,Região Sudeste,MG,Informática,Técnico em Informática,Educação Presencial,Integral,F,NaN,20 a 24 anos,NaN,TECNICO_INTEGRADO

In [79]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
Xn = scaler.fit_transform(X_numerical)
Xn

array([[0.78862839, 0.24      ],
       [0.78862839, 0.24      ],
       [0.62100794, 1.        ],
       [0.55658113, 0.4       ],
       [0.55658113, 0.4       ],
       [0.75263061, 0.24      ],
       [0.5827949 , 1.        ],
       [0.58648699, 1.        ],
       [0.4083441 , 1.        ],
       [0.54255123, 0.84      ],
       [0.51633746, 0.84      ],
       [0.51633746, 0.84      ],
       [0.37345394, 1.        ],
       [0.33634853, 1.        ],
       [0.20251061, 1.        ],
       [0.3623777 , 1.        ],
       [0.42034336, 1.        ],
       [0.54255123, 0.84      ],
       [0.40003692, 1.        ],
       [0.42403544, 1.        ],
       [0.18054274, 1.        ],
       [0.20251061, 1.        ],
       [0.38342256, 1.        ],
       [0.38342256, 1.        ],
       [0.14712941, 1.        ],
       [0.18054274, 1.        ],
       [0.18054274, 1.        ],
       [0.70094148, 1.        ],
       [0.64002215, 1.        ],
       [0.42403544, 1.        ],
       [1.        , 1.        ],
       [0.14712941, 1.        ],
       [0.63817611, 1.        ],
       [0.45246446, 1.        ],
       [0.46095625, 1.        ],
       [0.678789  , 1.        ],
       [0.678789  , 1.        ],
       [0.62156175, 1.        ],
       [0.62156175, 1.        ],
       [0.70094148, 1.        ],
       [0.33634853, 1.        ],
       [0.47018645, 1.        ],
       [0.4173897 , 1.        ],
       [0.4173897 , 1.        ],
       [0.53848994, 0.84      ],
       [0.45449511, 1.        ],
       [0.45449511, 1.        ],
       [0.62709987, 0.84      ],
       [0.40742108, 1.        ],
       [0.51633746, 0.84      ],
       [0.22835518, 1.        ],
       [0.27266014, 1.        ],
       [0.65479047, 1.        ],
       [0.40742108, 1.        ],
       [0.4173897 , 1.        ],
       [0.40797489, 1.        ],
       [0.26989108, 1.        ],
       [0.18423482, 1.        ],
       [0.45172605, 1.        ],
       [0.22097102, 1.        ],
       [0.46926343, 1.        ],
       [0.4404652 , 1.        ],
       [0.22097102, 1.        ],
       [0.94572642, 1.        ],
       [0.62709987, 1.        ],
       [0.46926343, 1.        ],
       [0.21174082, 1.        ],
       [0.20251061, 1.        ],
       [0.21174082, 1.        ],
       [0.43677312, 1.        ],
       [0.18405021, 1.        ],
       [0.62709987, 1.        ],
       [0.45523352, 1.        ],
       [0.40557504, 1.        ],
       [0.45523352, 1.        ],
       [0.43677312, 1.        ],
       [0.        , 0.        ],
       [0.21358686, 1.        ],
       [0.22097102, 1.        ],
       [0.64925235, 1.        ],
       [0.67325088, 1.        ],
       [0.69355732, 1.        ],
       [0.18405021, 1.        ],
       [0.18405021, 1.        ],
       [0.31327303, 0.        ],
       [0.4314196 , 1.        ],
       [0.3623777 , 1.        ],
       [0.42772752, 1.        ],
       [0.4314196 , 1.        ],
       [0.27635222, 1.        ],
       [0.21727894, 1.        ],
       [0.21727894, 1.        ],
       [0.21727894, 1.        ],
       [0.2246631 , 1.        ],
       [0.18405021, 1.        ],
       [0.18405021, 1.        ],
       [0.18405021, 1.        ],
       [0.75170759, 1.        ],
       [0.59017907, 1.        ],
       [0.71810965, 1.        ]])

### Etnia

In [144]:
Xet = X_categorical.drop(columns=['etnia', 'renda_familiar'])
yet = X_categorical['etnia']

In [145]:
Xet_dum = pd.get_dummies(Xet)
Xet_dum

,regiao_Região Centro-Oeste,regiao_Região Nordeste,regiao_Região Norte,regiao_Região Sudeste,estado_AL,estado_AM,estado_AP,estado_BA,estado_CE,estado_DF,...,faixa_etaria_35 a 39 anos,faixa_etaria_40 a 44 anos,faixa_etaria_45 a 49 anos,faixa_etaria_55 a 59 anos,tipo_curso_QUALIFICACAO,tipo_curso_SUPERIOR,tipo_curso_TECNICO_CONCOMITANTE,tipo_curso_TECNICO_EJA,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
2,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
3,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
4,True,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
96,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
97,False,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
98,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
99,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [147]:
Xet_join = Xet_dum.join(yet)
Xet_join

,regiao_Região Centro-Oeste,regiao_Região Nordeste,regiao_Região Norte,regiao_Região Sudeste,estado_AL,estado_AM,estado_AP,estado_BA,estado_CE,estado_DF,...,faixa_etaria_40 a 44 anos,faixa_etaria_45 a 49 anos,faixa_etaria_55 a 59 anos,tipo_curso_QUALIFICACAO,tipo_curso_SUPERIOR,tipo_curso_TECNICO_CONCOMITANTE,tipo_curso_TECNICO_EJA,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE,etnia
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
2,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,PARDA
3,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,PARDA
4,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,PARDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,PARDA
96,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,PRETA
97,False,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
98,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,BRANCA
99,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN

In [149]:
Xet_split_y = Xet_join[Xet_join['etnia'].notnull()]
Xet_split_y

,regiao_Região Centro-Oeste,regiao_Região Nordeste,regiao_Região Norte,regiao_Região Sudeste,estado_AL,estado_AM,estado_AP,estado_BA,estado_CE,estado_DF,...,faixa_etaria_40 a 44 anos,faixa_etaria_45 a 49 anos,faixa_etaria_55 a 59 anos,tipo_curso_QUALIFICACAO,tipo_curso_SUPERIOR,tipo_curso_TECNICO_CONCOMITANTE,tipo_curso_TECNICO_EJA,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE,etnia
2,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,PARDA
3,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,PARDA
4,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,PARDA
5,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,PARDA
6,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,BRANCA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,PARDA
94,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,PARDA
95,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,PARDA
96,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,PRETA
98,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,BRANCA

In [150]:
Xet_split = Xet_split_y.drop('etnia', axis=1)
Xet_split

,regiao_Região Centro-Oeste,regiao_Região Nordeste,regiao_Região Norte,regiao_Região Sudeste,estado_AL,estado_AM,estado_AP,estado_BA,estado_CE,estado_DF,...,faixa_etaria_35 a 39 anos,faixa_etaria_40 a 44 anos,faixa_etaria_45 a 49 anos,faixa_etaria_55 a 59 anos,tipo_curso_QUALIFICACAO,tipo_curso_SUPERIOR,tipo_curso_TECNICO_CONCOMITANTE,tipo_curso_TECNICO_EJA,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE
2,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
3,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
4,True,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,True,False,False,False,False
5,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
6,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
94,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
95,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
96,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
98,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [151]:
yet

0        NaN
1        NaN
2      PARDA
3      PARDA
4      PARDA
       ...
95     PARDA
96     PRETA
97       NaN
98    BRANCA
99       NaN
Name: etnia, Length: 100, dtype: object

In [152]:
yet_split = yet[yet.notnull()]
yet_split

2      PARDA
3      PARDA
4      PARDA
5      PARDA
6     BRANCA
       ...
93     PARDA
94     PARDA
95     PARDA
96     PRETA
98    BRANCA
Name: etnia, Length: 67, dtype: object

In [153]:
# Split data into training and testing sets
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier


Xet_train, Xet_test, yet_train, yet_test = train_test_split(Xet_split, yet_split, test_size=0.25, random_state=42)

In [155]:
# Create the KNN classifier with k=5 neighbors
knn = KNeighborsClassifier(n_neighbors=5)

# Train the KNN model on the training data
knn.fit(Xet_train, yet_train)

# Predict class labels for the test data
yet_pred = knn.predict(Xet_test)

# Evaluate the model performance (accuracy in this case)
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(yet_test, yet_pred)
print(f"KNN Model Accuracy: {accuracy:.2f}")

KNN Model Accuracy: 0.65

In [158]:
# Now you can predict the class label for a new data point (X_new)
Xet_val = Xet_join[Xet_join['etnia'].isnull()]  # Sample data point with 4 features
Xet_val

,regiao_Região Centro-Oeste,regiao_Região Nordeste,regiao_Região Norte,regiao_Região Sudeste,estado_AL,estado_AM,estado_AP,estado_BA,estado_CE,estado_DF,...,faixa_etaria_40 a 44 anos,faixa_etaria_45 a 49 anos,faixa_etaria_55 a 59 anos,tipo_curso_QUALIFICACAO,tipo_curso_SUPERIOR,tipo_curso_TECNICO_CONCOMITANTE,tipo_curso_TECNICO_EJA,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE,etnia
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
12,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
13,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,NaN
14,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
21,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
22,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
23,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
30,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
35,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
36,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
37,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
38,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
39,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
40,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
47,False,True,False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,NaN
48,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
49,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
50,False,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,NaN
51,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,NaN
66,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
67,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
68,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
69,False,True,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,NaN
70,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,NaN
84,False,False,True,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,NaN
85,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
86,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
87,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
88,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
89,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
97,False,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
99,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN

In [159]:
Xet_val.drop('etnia', axis=1, inplace=True)

C:\Users\danie\AppData\Local\Temp\ipykernel_18740\1154769638.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xet_val.drop('etnia', axis=1, inplace=True)

In [160]:
pred = knn.predict(Xet_val)
pred

array(['PARDA', 'PARDA', 'PARDA', 'PARDA', 'PARDA', 'BRANCA', 'PARDA',
       'PARDA', 'BRANCA', 'BRANCA', 'BRANCA', 'BRANCA', 'BRANCA', 'PARDA',
       'BRANCA', 'BRANCA', 'BRANCA', 'BRANCA', 'PARDA', 'PARDA', 'PARDA',
       'PARDA', 'PARDA', 'PARDA', 'PRETA', 'PARDA', 'PARDA', 'PARDA',
       'PARDA', 'PARDA', 'PARDA', 'BRANCA', 'BRANCA'], dtype=object)

In [163]:
Xet_join[Xet_join['etnia'].isnull()] = pred
Xet_join

ValueError: Must have equal len keys and value when setting with an iterable

### Label Encoding

In [98]:
from sklearn.calibration import LabelEncoder


class MultiColumnLabelEncoder:

    def __init__(self, columns=None):
        self.columns = columns # array of column names to encode


    def fit(self, X, y=None):
        self.encoders = {}
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            self.encoders[col] = LabelEncoder().fit(X[col])
        return self


    def transform(self, X):
        output = X.copy()
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            output[col] = self.encoders[col].transform(X[col])
        return output


    def fit_transform(self, X, y=None):
        return self.fit(X,y).transform(X)


    def inverse_transform(self, X):
        output = X.copy()
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            output[col] = self.encoders[col].inverse_transform(X[col])
        return output

In [99]:
multi = MultiColumnLabelEncoder(
    columns=['instituicao', 'regiao', 'estado', 'subeixo_tec', 'nome_curso', 'modalidade', 
             'turno', 'sexo', 'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso'
        ]
    )

Xc = multi.fit_transform(X_categorical)
Xc_dcd = multi.inverse_transform(Xc)

In [100]:
Xc

,instituicao,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,3,0,3,0,1,0,0,0,3,2,3,0
1,3,0,3,0,1,0,0,0,3,4,3,0
2,0,0,0,0,4,0,0,0,2,1,3,1
3,0,0,0,0,0,0,0,0,2,2,0,0
4,0,0,0,0,0,0,0,0,2,4,1,0
5,3,0,3,0,1,0,0,0,2,2,3,0
6,2,0,2,0,5,0,1,0,1,1,3,1
7,2,0,2,0,5,0,1,0,2,0,1,1
8,2,0,2,0,3,0,2,0,0,3,1,0
9,1,0,1,0,2,0,2,0,1,1,2,0

In [101]:
Xc_dcd

,instituicao,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,IFMT,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,F,NaN,25 a 29 anos,NaN,SUPERIOR
1,IFMT,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,F,NaN,35 a 39 anos,NaN,SUPERIOR
2,IFB,Região Centro-Oeste,DF,Informática,Técnico em Informática,Educação Presencial,Integral,F,PARDA,20 a 24 anos,NaN,TECNICO_INTEGRADO
3,IFB,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,F,PARDA,25 a 29 anos,"0,5<RFP<=1",SUPERIOR
4,IFB,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,F,PARDA,35 a 39 anos,"0<RFP<=0,5",SUPERIOR
5,IFMT,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,F,PARDA,25 a 29 anos,NaN,SUPERIOR
6,IFMS,Região Centro-Oeste,MS,Informática,Técnico em Informática para Internet,Educação Presencial,Matutino,F,BRANCA,20 a 24 anos,NaN,TECNICO_INTEGRADO
7,IFMS,Região Centro-Oeste,MS,Informática,Técnico em Informática para Internet,Educação Presencial,Matutino,F,PARDA,15 a 19 anos,"0<RFP<=0,5",TECNICO_INTEGRADO
8,IFMS,Região Centro-Oeste,MS,Informática,Sistemas para Internet,Educação Presencial,Noturno,F,AMARELA,30 a 34 anos,"0<RFP<=0,5",SUPERIOR
9,IFG,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,F,BRANCA,20 a 24 anos,"2,5<RFP<=3,5",SUPERIOR

In [102]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=1)
Xcat = imputer.fit_transform(Xc)

Xcat

array([[3., 0., 3., 0., 1., 0., 0., 0., 3., 2., 3., 0.],
       [3., 0., 3., 0., 1., 0., 0., 0., 3., 4., 3., 0.],
       [0., 0., 0., 0., 4., 0., 0., 0., 2., 1., 3., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 2., 2., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 2., 4., 1., 0.],
       [3., 0., 3., 0., 1., 0., 0., 0., 2., 2., 3., 0.],
       [2., 0., 2., 0., 5., 0., 1., 0., 1., 1., 3., 1.],
       [2., 0., 2., 0., 5., 0., 1., 0., 2., 0., 1., 1.],
       [2., 0., 2., 0., 3., 0., 2., 0., 0., 3., 1., 0.],
       [1., 0., 1., 0., 2., 0., 2., 0., 1., 1., 2., 0.]])